body {
    font-family: Arial, sans-serif;
    font-size: $default-font-size; //1.6rem or 16px
}

.t-heading-1 {
    font-weight: 900;
    font-size: 6rem;
}

.t-heading-2 {
    font-weight: bold;
    font-size: 5rem;
}

.t-heading-3 {
    font-size: 4rem;
    line-height: 1.25;
}

.t-small {
    font-size: 1.4rem;
    line-height: 1.12;

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}
.t-small-2 {
    font-size: 12px; // This is probably small enough to not add rem to it
    line-height: 1;

    &:not(:last-child) {
        margin-bottom: 10px; // This is probably small enough to not add rem to it
    }
}


.t-paragraph {
    font-size: $default-font-size;
    line-height: 1.25;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

}

.t-link {
    color: $color-primary;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: $color-primary-dark;
    }
}

.t-list {
    font-size: 1.4rem;
    line-height: 1.25;
}
