.c-btn {
    padding: 1.5rem 4rem;
    display: inline-block;
    border: solid 3px $color-primary;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.19;
    text-decoration: none;
    color: $color-primary;

    &:hover {
        color: $color-primary-dark;
        border-color: $color-primary-dark;
    }

    &--primary {
        background-color: $color-primary;
        color: $color-white;
        border-color: $color-primary;

        &:hover {
            background-color: $color-primary-dark;
            border-color: $color-primary-dark;
            color: $color-white;
        }
    }

    &--small {
        padding: 1.2rem 2.6rem .9rem 2.6rem;
    }
}
