// COLORS
$color-primary-light: pink;
$color-primary: red;
$color-primary-dark: maroon;

$color-secondary-light: skyblue;
$color-secondary: blue;
$color-secondary-dark: darkblue;

$color-accent: orange;

$color-gray-light-2: #EDEDED;
$color-gray-light: #DCDDDE;
$color-gray: #A7A9AC;
$color-gray-dark: #57595F;

$color-black: #000000;
$color-white: #FFFFFF;

// FONTS
$default-font-size: 1.6rem; //16px
